<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
	{% block headers %}
	<meta name="description" content="Ask Vitalya!">
	{% endblock %} 
	<meta name="author" content="TiGRoNdev">
    
	<link rel="icon" href="/home/box/web/public/img/favicon.png">

    <title>Ask Vitalya</title>

    <!-- Bootstrap core CSS -->
    <link href="/home/box/web/public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/home/box/web/public/css/jumbotron.css" rel="stylesheet">


  </head>

  <body>
	
	{% block content %}

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Question</h2>
          <p>This is an example text in example question. This element in a BLOCK who called "content" </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Question</h2>
          <p>This is an example text in example question. This element in a BLOCK who called "content"  </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Question</h2>
          <p>This is an example text in example question. This element in a BLOCK who called "content"  </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; TiGRoNdev 2017</p>
      </footer>
    </div> <!-- /container -->

	{% endblock %}

    <!-- Bootstrap core JavaScript ================================================== -->
	<script src="/home/box/web/public/js/bootstrap.js"></script>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/home/box/web/public/js/popper.min.js"></script>
    <script src="/home/box/web/public/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/home/box/web/public/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
